.App {
  background-color: #e9e2df;
}

.logo {
  height: 3rem;
  width: 3rem;
}

h1,
h2,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: black;
}

.header {
  background-color: #e9e2df;
}

.home-page {
  background-color: #e9e2df;
}

.link {
  font-family: 'Open Sans', sans-serif;
  color: black !important;
  font-weight: lighter;
}

a:link {
  color: black !important;
}

footer {
  background-color: #f8f9fa;
  font-family: 'Open Sans';
}